<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path do %>
      <%= image_tag "https://www.wikihow.com/images/thumb/7/7a/Sleep-at-Your-Boyfriend%27s-House-for-the-First-Time-Step-15-Version-2.jpg/v4-460px-Sleep-at-Your-Boyfriend%27s-House-for-the-First-Time-Step-15-Version-2.jpg", width: 42 %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/lists/new">Log in</a>
        </li>
        <li class="nav-item">
          <%= link_to / do %>
            <%= image_tag "https://icon2.cleanpng.com/20171221/woe/shopping-cart-transparent-png-clip-art-image-5a3c448345e898.5463663115138991392864.jpg", width: 42 %>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
