<div class="container d-flex justify-content-around">
  <div class="row">
    <% @partners.each do |partner| %>
      <div class="col m-3">
        <div class="card-product rounded-4">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= partner.name %></h2>
            <p><%= partner.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
