<div class="container d-flex">
  <div class="row justify-content-center">
    <% @partners.each do |partner| %>
      <div class="col-lg-3 m-3">
        <div class="card-product rounded-4">
          <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
          <div class="card-product-infos">
            <h2><%= link_to partner.name, partner_path(partner[:id]) %></h2>
            <p>Price per hour: <%= partner.price %>€</p>
            <p><%= partner.description %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
