<div class="container d-flex flex-column align-items-center">
  <h1><%= @partner.name.capitalize %></h1>

  <%= cl_image_tag @partner.photo.key, height: 300, width: 400, crop: :fill %>

  <%= @partner.description.capitalize %>

  <%= link_to "Grab me",  new_partner_booking_path(params[:id])%>
</div>
