<div class="footer">
  <div class="container left"> <!--bot left-->
    <div class="row">
        <div class="col-12">
          <p>© 2022 EMA. All Rights Reserved - Le Wagon.</p>
        </div>
    </div>
  </div>
  <div class="container right"> <!--bot right-->
    <div class="row">
      <div class="col-12">
        <div id="social_media">
          <div class="footer-links">
            <a href="#"><i class="fab fa-github"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
