<div class="container mt-1">
  <% if user_signed_in? %>
    <h1>Welcome <%= current_user.username %>!</h1>
    <div class="container d-flex justify-content-between">
      <div class="button-container d-flex">
        <div class="button-1 me-2"><%= link_to "Make money! Offer your service.", new_partner_path %></div>
        <div class="button-1 me-2"><%= link_to "Check partners available in our network.", partners_path %></div>
      </div>
    <%else%>
      <h1>Welcome to Grab me</h1>
      <div class="container d-flex justify-content-between">
        <div class="button-1"><%= link_to "Check partners available in our network.", partners_path %></div>
      <%end%>
      <img src="https://wallpaperaccess.com/full/4054902.jpg" alt="" class="user-img" width="500px">
    </div>
    </div>
  </div>
</div>
