.dashboard-cards {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
  width: fit-content;
}

.dashboard-cards-2 {
  background-color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 5px;
  height: max-content;
}

.right-box {
  margin-right: 25%;
}

.cancel-btn {
  text-decoration: none;
  background-color: transparent;
  margin-top: 30px;
}

.cancel-btn a {
  margin-left: 15px;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  color: rgb(128, 126, 126)
}

a.cancel-btn {
  font-size: 800;
}

.profile-img {
  object-fit: cover;
}

.dashboard-h2 {
  font-weight: bold;
}

.pie-chart {
  width: 35px;
  height: 35px;
  margin-left: 10px;
  margin-top: 10px;
  opacity: 0.9;
}

.my-service > h2 {
  font-weight: 700;
}

.my-jobs-info > h2 {
  font-weight: 700;
}

.profile-imgg {
  border: 2px solid black;
}

.booking-picc {
  border: 2px solid black;
}

.booking-cards {
  border: 2px solid black;
}
