.navbar {
  display: flex;
  align-items: center;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}
.navbar-lewagon .navbar-brand img {
  width: 60px;
}
.navitem {
  width: 50px;
}
.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: 500;
  opacity: 0.8;
  transition: opacity 0.3s ease;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(255, 255, 255);
}
.btn-ghost:hover {
  opacity: 1;
}
.search-button > img {
  width: 38px
}
.avatar {
  width: 30px;
  border-radius: 50%;
}

.search-button img {
  width: 25px;
  opacity: 0.8;
}

.nav-item {
  display: flex;
  align-items: center;
}

.cart {
  padding-right: 20px;
}

#navbarSupportedContent img {
  width: 35px;
}
